//fonst
$cursive_font: "Comfortaa", cursive;
$main_font: "Roboto", sans-serif;
$header_font: "Rubik", sans-serif;

//lauouts sizes
$container_max_widht: 1440px;
$header_height: 5rem;
$footer_height: 5rem;
$scrollbar_width: 1rem;
